@import '../css/show-time.css';
@import '../css/timer-page.css';
@import '../css/who-watch-page.css';
@import '../css/move-mouse-page.css';

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
    text-align: center;
}

header {
    padding: 20px 0;
    width: 100%;
    background-color: beige;
}

.user-preview {
    background-color: darkcyan;
    padding: 5px;
    width: 200px;
    text-align: center;
}

.user-preview button {
    margin: 5px;
}

a {
    font-size: 2rem;
    margin-right: 10px;
}